@mixin formMixin(
  $actions_direction: row,
  $action_link_margin: 0px,
) {
  
  .form {
    position: relative;
    z-index: 1001;
    width: 95%;
    max-width: 500px;
    margin: 5% auto;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
  
    .form_title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  
    .form_actions {
      display: flex;
      flex-direction: $actions_direction;
      justify-content: space-around;
      align-items: center;

      .form_action_link {
        display: inline-block;
        text-decoration: none;
        margin: $action_link_margin;
      }
    }

  }
}

@include formMixin();

@media (max-width: 600px) {
  @include formMixin(
    $actions_direction: column,
    $action_link_margin: 0 0 20px 0,
  );
}
