.form {
  position: relative;
  max-height: calc(100vh - #{$header-height} - #{$footer-height});
  display: flex;
  flex-direction: column;
  z-index: $form-z;
  width: 95%;
  max-width: 500px;
  margin: 5% auto auto auto;
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  transform: scale(1.0);
  opacity: 1;

  .fields {
    overflow: scroll;
  }
  
  .form_title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .form_actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .form_action_link {
      display: inline-block;
      text-decoration: none;
    }
  }

}
