$error-color: #B71C1C;
$font-color: #2c3e50;
$like-color: #E53935;
$main-color: rgb(91, 99, 134);
$main-color-hover: darken($main-color, 10%);
$main-color-shadow: darken($main-color, 15%);
$wrapper-width: 1200px;
$padding_content: 10px;
$footer-height-mobile: 30px;
$footer-height: 50px;
$header-height-mobile: 30px;
$header-height: 50px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@media (max-width: map-get($grid-breakpoints, sm)) {
  .only_laptop {
    display: none !important;
  }
}
@media (min-width: map-get($grid-breakpoints, sm)) {
  .only_mobile {
    display: none !important; 
  }
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: $main-color;
  color: white;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background: $main-color-hover;
  }
  &.disabled {
    cursor: default;
    background: lightgray;
  }
}

// login and registration
.form {
  width: 95%;
  max-width: 500px;
  margin: 5% auto;
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  .title {
    margin-bottom: 20px;
  }
  .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.title {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  text-align: left;
  display: table;
  overflow: hidden;
  &:before, &:after {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.45);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 50%;
  }
  &:before { right: 5px; }
  &:after { left: 5px; }
  &.left {
    &:before {
      width: 5%;
    }
    &:after {
      width: 95%;
    }
  }
  &.right {
    &:before {
      width: 95%;
    }
    &:after {
      width: 5%;
    }
  }
}
.error {
  .title {
    color: $error-color;
    &:before, &:after {
      border-top: 1px solid rgba($color: $error-color, $alpha: 0.45);
    }
  }
}

$colors: (
  male: #64B5F6,
  female: #EF9A9A,
  bisexual: #81C784,
  block: #2c3e50,
  ban: #B71C1C,
  like: #E53935,
  dislike: #ce93d8,
  visit: #A5D6A7,
  messages: #90CAF9,
  connected: #ffacd8,
  ok: #7edd82,
  error: #f76868,
);
 
@each $name, $value in $colors {
  .#{$name}_color {
    color: $value;
  }
  .#{$name}_background {
    background: $value;
  }
  .#{$name}_background-light {
    background: rgba($color: $value, $alpha: 0.4);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 10000s ease-in-out 0s;
}
